<h2 class="jennasue">Getting there</h2>
<p>Boyd Baker House is about a 45-50 minute drive from Melbourne. If you’re driving please leave an hour in case of heavy traffic. 
	</p>

	  <p>
	Boyd Baker House</br>
	305 Long Forest Road,</br> 
	Long Forest, Victoria</br>
	GPS Coordinates:  37°39’11.52”S 144°30’7.08”E</br>
	(Not all satellite navigation systems recognise Long Forest as a place. You have been warned!)
  </p>
	<p class="blocktext">If driving from Melbourne, the easiest path is probably via the Westgate Freeway. If you’re coming from the Northern or Eastern suburbs it may be easier to take the Princes Highway. 
We suggest you try <a href="https://maps.google.com.au">Google Maps</a> for directions – it should recognise Boyd Baker House as a destination.</p>
<p class="blocktext">Hopefully at some point on your journey you'll find Long Forest Road. About 3km down Long Forest Road you'll see the entrance to the property on the left.  We'll even put a sign up so you know you're at the right place. Follow the driveway for about 400m and park where indicated.</p>
	<p>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?f=d&amp;source=s_d&amp;saddr=Melbourne,+Victoria&amp;daddr=Boyd+Baker+House,&amp;hl=en&amp;geocode=FaUAv_0d0PajCCn3TbrStUbWajGQzYwhdVYEBA%3BFeFywf0dy-acCCHVM6HUPdPFRCkn_jFMyJTWajHVM6HUPdPFRA&amp;aq=0&amp;oq=melbourne&amp;sll=-37.653927,144.500427&amp;sspn=0.296278,0.390701&amp;t=h&amp;mra=ls&amp;ie=UTF8&amp;ll=-37.74424,144.734055&amp;spn=0.4,0.463452&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.au/maps?f=d&amp;source=embed&amp;saddr=Melbourne,+Victoria&amp;daddr=Boyd+Baker+House,&amp;hl=en&amp;geocode=FaUAv_0d0PajCCn3TbrStUbWajGQzYwhdVYEBA%3BFeFywf0dy-acCCHVM6HUPdPFRCkn_jFMyJTWajHVM6HUPdPFRA&amp;aq=0&amp;oq=melbourne&amp;sll=-37.653927,144.500427&amp;sspn=0.296278,0.390701&amp;t=h&amp;mra=ls&amp;ie=UTF8&amp;ll=-37.74424,144.734055&amp;spn=0.179343,0.463452" style="color:#0000FF;text-align:left">View Larger Map</a></small>


