<% provide(:title, "Gifts") %>
<div class="jennasue" >
  <h2 class="browntext"><b>Gifts</b></h2>
</div>
<p class="blocktext">
	Many of you will be travelling an awfully long way to be there on our wedding day. Even more of you have already helped us out with various aspects of the wedding. Your presence at the wedding is the most important thing to us; and gifts are neither expected nor necessary. Some people have told us that they are keen to buy us a gift in any event, and would like some guidance as to what we could use. To that end, we have come up with the following...</p>
<div class="jennasue">
  <h4 class="greentext">Honeymoon help</h4>
</div>
	<p class="blocktext">
	We have stretched ourselves a bit financially in honeymoon planning and are heading to Tanzania for a mix of hiking, safari and beach time. We  would be delighted to receive a contribution towards our honeymoon and will have a safari suitcase at the venue for this purpose (since that sounds more intrepid than a ‘wishing well’). Any contributions would allow us some extra room to spoil ourselves with add-ons such as a 'night drive' on safari, a restorative massage after our mountain climbing, diving off the coast of Zanzibar or a romantic dinner for 2 on the beach.</p>
<div class="jennasue">
<h4 class="greentext">For our home</h4>
</div>
<p class="blocktext">
	We are also still essentially living in a student house and would love some help to upgrade to grown-up goods. The sorts of 'big ticket' items we’d like to purchase include couches, a table and chairs, and maybe some artwork. A contribution to any of these items would be greatly appreciated. </p>
<div class="jennasue">
	<h4 class="greentext">Can we be more specific?</h4>
</div>
<p class="blocktext">
	In addition to our honeymoon and larger purchases, there are a number of specific items we'd be delighted to have. We have set up a gift registry with some tableware we would love to own at the Fitzroy store of Mud Australia. A copy of the registry is linked here (it's not actually. Carla and Chris haven't given me the link yet) and you can contact the very helpful ladies at the store on <%= mail_to "fitzroy@mudaustralia.com" %>, by phone (+61 3 9419 5161) or by going in. They've asked us to mention that the store is closed between 24 December 2014 and 2 January 2014, to save anyone travelling there only to find a closed shop!
</p>
<p class="blocktext">IWe've also put together an online registry of assorted items <a href="http://us.marriagegiftlist.com/">here</a>. Login with registry number 89, and either of our surnames. The list includes suggestions of where the items can be found, however if you can get the item elsewhere more easily or economically, please do so! If you do purchase anything from the list, please make sure you confirm this on website, so that the item is marked off.</p>