<% provide(:title, "Gifts") %>
<div class="jennasue" >
  <h2 class="browntext"><b>Gifts</b></h2>
</div>
<p class="blocktext">
	Many of you will be travelling an awfully long way to be there on our wedding day. Even more of you have already helped us out with various aspects of the wedding. Your presence at the wedding is the most important thing to us; and gifts are neither expected nor necessary. Some people have told us that they are keen to buy us a gift in any event, and would like some guidance as to what we could use. To that end, we have come up with the following...</p>
<div class="jennasue">
  <h4 class="greentext">Honeymoon help and grown-up goods</h4>
</div>
	<p class="blocktext">
	We have stretched ourselves a bit financially in honeymoon planning and are heading to Tanzania for a mix of hiking, safari and beach time. We would be delighted to receive a contribution towards our honeymoon, which we would put towards add-ons such as a 'night drive' on safari, a restorative massage after our mountain climbing, diving off the coast of Zanzibar or a dinner for 2 on the beach. We are also essentially still living in a student house and would love a contribution to help us purchase a new couch, or table and chairs.</p>
<div class="jennasue">
	<h4 class="greentext">Can we be more specific?</h4>
</div>
<p class="blocktext">
	In addition to our honeymoon and larger purchases, there are a number of specific items we'd be delighted to have. We have set up a gift registry with some tableware we would love to own at the Fitzroy store of <a href="http://www.mudaustralia.com">Mud Australia</a>. A copy of the registry is linked <u><%= link_to "here", '/mud_list.pdf'%></u> and you can contact the very helpful ladies at the store on <%= mail_to "fitzroy@mudaustralia.com" %>, by phone (+61 3 9419 5161) or by going in. They've asked us to mention that the store is closed between 24 December 2014 and 2 January 2014, to save anyone travelling there only to find a closed shop!
</p>
<p class="blocktext">We've also put together an online registry of assorted items <u><a href="http://us.marriagegiftlist.com/">here</a></u>. Login with registry number 89, and either of our surnames. The list includes suggestions of where the items can be found, however if you can get the item elsewhere more easily or economically, please do so! If you do purchase anything from the list, please make sure you confirm this on website, so that the item is marked off.</p>