<% provide(:title, 'All users') %>
<div class="jennasue">
  <h2 class="browntext">All users</h2>
</div>

<%= will_paginate %>

<table class="table">
	<tr>
		<th class="greentext span2">Account Name</th>
		<th class="greentext span1">Guests</th>
		<th class="greentext span2">Delete</th>
	</tr>

	  <%= render @users %>

</table>

<%= will_paginate %>